<!doctype html>
<html lang="en">
    <div v-if="state.isAdmin">
        <button class="btn btn-lg btn-primary" @click="advance">Overall Results</button>
    </div>
    <h2>Round Results</h2>
    <div v-if="location != null">
            <h3>{{location.name}}</h3>
    </div>
    <div class="awnsers">
        <div class="guessing">
            <img src="" id="guessImage">
            <%- include('map'); -%>
        </div>
        <%- include('leaderboard'); -%>
    </div>
    
</html>