<!doctype html>
<html lang="en">
    <div v-if="state.isAdmin">
        <button class="btn btn-lg btn-primary" @click="advance">Next</button>
    </div>
    <h2>Results</h2>
    <div v-if="location != null">
        <p>{{location.name}}</p>
        <img src="" id="guessImage">
    </div>
    <%- include('map'); -%>
    
</html>