body {
    background-image: url('/static/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #acc5d0;
}

#map {
  width: 300px !important;
  height: 300px !important;
  padding: 10px !important;
  position: relative !important;
}

#guessImage {
  max-height: 300px;
  max-width: 300px;
  min-height: 50px;
  min-height: 50px;
  padding: 10px !important;
  position: relative !important;
}

.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.error {
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    color: red;
}
.code {
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    background-color: rgb(119, 186, 206);
}
.container {
    /*background-color: rgba(255,255,255,0.8);*/
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100vh;
}
.leaderboard {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(0, 0, 0);
  padding: 0px;
}
.leaderboard div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 0px;
  font-size: 30px;
  text-align: center;
}
.lobby {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  background-color: rgb(157, 204, 229);
  padding: 10px;
  column-gap: 2%;
  row-gap: 10px;
}
.lobby div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

/*
#chat { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
    max-height: 80vh;
}
#chat li { 
    padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
    background-color: rgba(0,0,0,0.2); 
}
  */

