body {
    background-image: url('/static/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #acc5d0;
}

.form-control {
  z-index: 1000;
}

.menu {
  display: grid;
  grid-template-columns: 50% 50%;
}

#map {
  width: 300px !important;
  height: 300px !important;
  padding: 10px !important;
  position: relative !important;
}

#guessImage {
  max-height: 300px;
  max-width: 300px;
  min-height: 50px;
  min-height: 50px;
  padding: 10px !important;
  position: relative !important;
}

.title {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.error {
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    color: red;
    height: 50px;
}
.notice {
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    color: green;
    height: 50px;
}
.code {
    font-weight: bold;
    font-size: 50px;
    text-align: left;
}
.container {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 100vh;
}

.leaderboard {
  display: grid;
  width: 100%;         
  max-width: 360px;     
  grid-template-columns: 1fr 110px; 
  padding: 0px;
  background-color: #f1f1f1;
}


.leaderboardEntry> :nth-child(1){
  background-color: gold;
}


.leaderboardEntry> :nth-child(2){
  background-color: silver
}

.leaderboardEntry> :nth-child(3){
  background-color: rgb(189, 104, 0)
}


.leaderboardHeading {
  display: grid;
  width: 100%;          
  max-width: 360px;     
  grid-template-columns: 1fr 110px;
  padding: 0px;
}
.leaderboardHeading div {
  background-color: #2189ca;
  border: 1px solid black;
  padding: 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.lobby {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  background-color: rgb(157, 204, 229);
  padding: 8px;       
  column-gap: 1.5%;  
  row-gap: 6px;       
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}

.entry {
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 10px;   
  padding: 4px;       
  font-size: 18px;      
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.guessing {
  display: grid;
  width: 700px;
  height: 320px;
  grid-template-columns: 300px 300px;
  background-color: rgb(157, 204, 229);
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}

.awnsers {
  display: grid;
  grid-template-columns: 700px 700px;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  border-style: none;
}
